h1 {
    font-size: 80px;
    font-family: "Poetsen One", sans-serif;
}

p {
    font-size: 35px;
    font-family: "Lato", sans-serif;
}

button {
    width: 250px;
    height: 80px;
    font-family: "Lato", sans-serif;
    cursor: pointer;
}